html, body{
    width: 100vw;
    height: fit-content;
    background-color: rgb(99, 105, 133);
    overflow-x: hidden;
   
}


.container{
    display:flex;
    justify-content:center;
    align-items:center;
    height:100%;
    width:100%;
}

.section-container{
    flex:2;
    display:flex;


    position: relative;
    height: 100vh;
    width:100vw;

   
   
}

.section{
    position: absolute;
    top: 0;
    left: 0;
    display:flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;


}

.section-2 ,
.section-3,
.section-4,
.section-5,
.section-6,
.section-7,
.section-8,
.section-9,
.section-10{
    visibility: hidden;
    
}


.time-container{
    flex:1;
    height: 100vh;
    padding: 20px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.part-1,
.part-2,
.part-3,
.part-4,
.part-5,
.part-6,
.part-7,
.part-8,
.part-9,
.part-10
{
    flex:1;
    display: flex;
    flex-direction: column;
   
    align-items: flex-end;
    
}

.ınfo-container{
    padding:5px;

}

.ınfo-container p{
    font-size:20px;
    font-weight:500;
    letter-spacing: .1rem;
}

.btn-container{
    width:80px;
    padding:4px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.btn-container p{
    font-weight:600;
    font-size:18px;
}
.btn{
    width:20px;
    height:20px;
    margin-right: 10px;
    cursor: pointer;
    transition:all .8s;
    
    border:1.4px solid gray;
    border-radius: 50%;
}

.btn:hover{
    border-color:rgb(22, 185, 214) ;
  
}

